* {
    box-sizing: border-box;
}

main {
  min-height: 400px;
  border: dashed lime;
  display: flex;
}

.left,
.right {
  flex-basis: 100%;
  flex-grow: 1;
}

.left {
    background-color: aqua;
  }
  .right {
    background-color: violet;
  }

  main img {
    position: relative;
    top: 40px;
    left: -150px;
    clip-path: ellipse(34% 44% at 60% 47%);
  }

  .plus-sign {
    background-color: bisque;
    width: 200px;
    height: 180px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transform: rotate(20deg);
  }