* {
    box-sizing: border-box;
}
a {
    display: block;
}

main {
    height: calc(100vh - 55px);
    overflow: auto;
}

nav {
    display : flex;
    background-color: deeppink;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
}

nav a {
    padding-block: 8px;
    /* border: dashed; */
    flex-grow: 1;
    text-align: center;
}

.material-icons-outlined {
    font-size: 42px;
}